@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
/* Kan fjerne denne om folk ikke liker den? */
/* Css reset */
* {
    margin: 0;
    font-family: "roboto", sans-serif;
}
/* NavBar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: white;
    box-shadow: 1px 1px 5px gray;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
}
.logo {
    max-height: 72px;
}

.nav-desktop ul {
    display: flex;
    list-style-type: none;
}
.nav-mobile {
    display: none;
}

.nav-desktop a {
    text-decoration: none;
    font-size: 25px;
    padding: 25px 16px;
    color: black;
}

.nav-desktop .active {
    /* en type styling her ?*/
    background-color: gray;
}

.nav-desktop a:hover {
    background-color: darkgray;
}

/* global? */

section {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Eller space around? */
    margin: 8px 0;
    width: 100%;
}
h1, h2 {
    font-weight: 700;
}
p {
    font-weight: 400;
}
h2, p{
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

/* Home */
.home-top {
    text-align: center;
    /* border: solid gray 4px; */
    padding: 8px;
}
.home-logo {
    max-height: 150px;
}

.home-text {
    text-align: center;
    width: 30%;
    margin: 12px;
    padding: 4px;
    border: solid gray 4px;
}

.home-link {
    background-color: #da8053;
    display: inline-block;
    margin: 8px;
    padding: 8px;
    border: solid gray 4px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
/* Problem */
.problem-header {
    text-align: center;
    margin: 32px;
    font-size: 2em;
}
.problem-text {
    width: 35%;
    margin: 8px;
}
.problem-question {
    width: 90%;
    padding: 8px;
    border: solid gray 2px;
    font-weight: bold;
}
.problem-person {
    text-align: center;
    width: 35%;
    margin: 8px;
    padding: 24px;
    border: 4px grey solid;
}
.problem-person img {
    width: 100%;
}
.problem-solution {
    width: 35%;
    padding: 8px;
    text-align: center;
    border: solid gray 4px;
    font-weight: 300;
}
.problem-solution-img {
    max-height: 300px;
}

.problem-img {
    max-height: 350px;
    max-width: 250px;
}


/* Solution */
.solution-padding {
    padding-left: 5%;  
    padding-right: 5%;
    width: 90%;
} 
.solution-header {
    width: 100%;
    max-height: 400px;

}

.solution-text {
    width: 35%;
    margin: 8px;
    padding: 24px;
    border: 4px grey solid;
}
.solution-img {
    padding-left: 25%;
    padding-right: 25%;
    max-width: 50%;
    height: auto;
}

/* Prototype */
.prototype-header {
    text-align: center;
    padding: 12px;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 20px;
    
}
.prototype-section {
    margin: 32px 0;
}
.prototype-header h2 {
    font-size: 2em;
}
.prototype-text {
    width: 35%;
    margin: 0 32px;
}
.prototype-img {
    max-height: 400px;
    /* offset-x | offset-y | blur-radius | Spread radius| color */
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
    
}

/* Sources */
.sources {
    margin: 12px;
}
.sources ul {
    flex-direction: column;
}

@media only screen and (max-width: 750px) {
    .nav-desktop {
        display: none;
        
    }
    .nav-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    header {
        flex-direction: column;
    }
    .nav-mobile ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .nav-mobile a {
        display: inline-block;
        text-decoration: none;
        font-size: 25px;
        color: black;
        width:100%;
    }
    .nav-mobile li:hover {
        background-color: darkgray;
    }
    .nav-mobile li .active {
        background-color: gray;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    .home-text,
    .problem-text,
    .prototype-text,
    .solution-text,
    .problem-person,
    .problem-question,
    .problem-solution {
        width: 90%;
    }
    nav ul {
        /* flex-direction: column;
        margin: 20px; */
        /* Må gjøres responsive */
    }
    
    .solution-img {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 90%;
    }
}

